@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Palanquin", sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.img-flex {
  display: block;
  width: 100%;
}

header, figure {
  font-family: "Palanquin", sans-serif;
}

title {
  float: left;
  position: relative;
  left: 70px;
  top: 20px;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  background-color: #000;
  color: #fff;
  z-index: 1000;
}

nav ul {
  display: none;
  padding: .3em;
}

header nav a {
  width: 5em;
}

li {
  display: inline;
}

nav a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

.menubtn {
  background-color: #535353;
  color: #fff;
  padding: 1.5em;
  border: none;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
  float: right;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding-left: .8em;
  padding-right: .8em;
  padding-top: .6em;
  padding-bottom: .6em;
  text-decoration: none;
  background-color: #a3a3a3;
  display: block;
}

.dropdown-content a:hover {
  background-color: #535353;
  color: #fff;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-content a:active {
  border: none;
}

figure {
  position: relative;
}

figcaption {
  color: #fff;
  float: left;
  position: absolute;
  z-index: 500;
}

footer {
  background-color: #000;
  padding: 12em;
  margin-top: 2em;
}


small {
  color: #fff;
  font-family: "Palanquin Dark", sans-serif;
  float: left;
  position: absolute;
  left: 20px;
  top: 3690px;
}

hr {
  border: 1px solid #a3a3a3
}

h1 {
  display: none;
}

/*
For index.html
*/

.logo-one {
  width: 15%;
  position: absolute;
  float: left;
  left: 10px;
  top: 10px;
}

.main-img {
  width: 200%;
  margin: 0;
  position: relative;
  padding-top: 3.7em;
  left: -260px;
}

.first-cap {
  text-align: center;
  left: 75px;
  top: 115px;
  margin-right: 5em;
}

.second-cap {
  text-align: center;
  top: 190px;
  color: #fff;
  float: left;
  position: absolute;
  z-index: 500;
  margin-left: 5.5em;
  margin-right: 6em;
}

figure .btn {
  color: #fff;
  background-color: rgba(83, 83, 83, 0.5);
  border: 2px solid #fff;
  padding: .5em;
  float: left;
  position: relative;
  top: -130px;
  left: 100px;
  text-decoration: none;
}

figure .btn:hover {
  -webkit-box-shadow: 0 0 3px 2px #fff;
  -moz-box-shadow: 0 0 3px 2px #fff;
  box-shadow: 0 0 3px 2px #fff;
}

.slogan {
  font-family: "Palanquin Dark", sans-serif;
  border: 1px solid #000;
  margin: .5em;
  text-align: left;
  display: block;
}

.slogan-text {
  margin: 0;
  padding: 0;
}

.before-after {
  float: none;
  color: #000;
  font-family: "Palanquin Dark", sans-serif;
  margin-left: 1.7em;
  padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.b-a-pics {
  padding-bottom: .5em;
  margin-bottom: none;
  margin-top: none;
  margin-left: none;
}

.facebook {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
  top: 3580px;
}

.twitter {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
  top: 3625px;
}

.insta {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
  top: 3670px;
}

/*
For tour.html
*/

.second-img {
  width: 200%;
  margin: 0;
  position: relative;
  top: 68px;
  left: -160px;
}

.third-cap {
  left: 225px;
  top: 30px;
  color: #000;
}

.fourth-cap {
  left: 210px;
  top: 70px;
  right: 210px;
  color: #000;
  float: left;
  position: absolute;
  text-align: center;
}

.facebook-tour {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
  top: 1000px;
}

.twitter-tour {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
  top: 1000px;
}

.insta-tour {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
  top: 1000px;
}

.body-copy {
  font-family: 'Asar', serif;
}

/*
For sign-up.html
*/

.third-img {
  width: 250%;
  margin: 0;
  position: relative;
  left: -170px;
  top: 65px;
}

.fifth-cap {
  left: 310px;
  top: 105px;
  margin-right: 13em;
  color: #000;
  float: left;
  position: absolute;
  z-index: 500;
  text-align: center;
}

.sixth-cap {
  left: 300px;
  top: -200px;
  margin-right: 15em;
  float: left;
  position: relative;
  text-align: center;
}

.footer-sign-up {
  margin-top: 5em;
}

.facebook-sign {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
}

.twitter-sign {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
}

.insta-sign {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
}

.sign-up-btn {
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  background-color: #535353;
  float: left;
  position: relative;
  left: 80px;
}

.or {
  margin-left: 4em;
}
/*
For pricing.html
*/

.fourth-img {
  width: 230%;
  margin: 0;
  position: relative;
  left: -220px;
  top: 65px;
}

.seventh-cap {
  left: 285px;
  top: -400px;
  float: left;
  position: relative;
  text-align: center;
  font-family: "Palanquin", sans-serif;
}

.eighth-cap {
  left: 115px;
  top: -350px;
  float: left;
  position: relative;
  text-align: center;
  color: #fff;
  font-family: "Palanquin", sans-serif;
}

.tutorial-cap-main {
  float: left;
  position: relative;
  color: #fff;
  top: -230px;
  padding: 2em;
  text-align: center;
}

.tutorial-cap {
  float: left;
  position: relative;
  top: -270px;
  padding-left: 5.5em;
  padding-right: 2em;
  text-align: center;
  color: #fff;
}

.tutorial-text {
  margin-top: none;
}

form {
  background-color: #ebebeb;
}

.free {
  background-color: #ebebeb;
}

.premium {
  background-color: #ebebeb;
}

.free li {
  display: block;
  width: 16em;
  padding: .5em;
}

.premium li {
  display: block;
  width: 16em;
  padding: .5em;
}

.p-value {
  color: red;
}

@media only screen and (min-width: 23em) {

  nav ul {
    display: none;
    padding: .3em;
  }

  .logo-one {
    width: 13%;
  }

  .first-cap {
    left: 85px;
  }

  .second-cap {
    margin-left: 5em;
  }

  figure .btn {
    left: 105px;
    top: -180px;
  }

  footer {
    margin-top: 20em;
  }

  .facebook {
    width: 15%;
    top: 2650;
  }

}

@media only screen and (min-width: 30em) {

  .logo {
    width: 6%;
  }

}

@media only screen and (min-width: 35em) {

  nav ul {
    display: inline;
  }

  nav {
    display: block;
  }

  nav .dropdown-menu {
    display: none;
  }

  a {
    float: left;
    position: relative;
    left: 120px;
    padding: .7em;
  }
}
