@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

header, figure {
  font-family: "Palanquin Dark", sans-serif;
}

.logo-one {
  width: 12%;
  position: absolute;
  float: left;
  left: 10px;
  top: 5px;

}

nav {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: left;
  background-color: #000;
  color: #fff;
  z-index: 1000;
}

header nav a {
  width: 5em;
}

li {
  display: inline;
}

nav a {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}

.menubtn {
  background-color: #535353;
  color: #fff;
  padding: 1.3em;
  border: none;
}

.dropdown-menu {
  position: relative;
  display: inline-block;
  float: right;
  right: 32px;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  padding-left: .8em;
  padding-right: .8em;
  padding-top: .6em;
  padding-bottom: .6em;
  text-decoration: none;
  background-color: #919191;
  display: block;
}

.dropdown-content a:hover {
  background-color: #535353;
  color: #fff;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-content a:active {
  border: none;
}

.main-img {
  width: 240%;
  margin: 0;
  position: relative;
  left: -490px;
  top: -40px;
}

.second-img {
  width: 150%;
  margin: 0;
  position: relative;
  top: 41px;
}

.third-img {
  width: 150%;
  margin: 0;
  position: relative;
  left: -100px;
  top: 41px;
}

.fourth-img {
  width: 150%;
  margin: 0;
  position: relative;
  left: -150px;
  top: 41px;
}

figure {
  position: relative;
}

figcaption {
  color: #fff;
  float: left;
  position: absolute;
  z-index: 500;
}

.first-cap {
  left: 10px;
  top: 115px;
  margin-right: 5em;
}

.second-cap {
  left: 10px;
  top: 240px;
  color: #fff;
  float: left;
  position: absolute;
  z-index: 500;
}

.third-cap {
  left: 30px;
  top: 30px;
  margin-right: 20em;
}

.fourth-cap {
  left: 120px;
  top: 30px;
  margin-right: 15em;
}

.fifth-cap {
  left: 120px;
  top: 105px;
  margin-right: 22em;
  color: #fff;
  float: left;
  position: absolute;
  z-index: 500;
}

.sixth-cap {
  left: 160px;
  top: 20px;
  margin-right: 12em;
}

figure .btn {
  color: #fff;
  background-color: rgba(69, 78, 161, 0.5);
  border: 2px solid #fff;
  padding: .5em;
  float: left;
  position: relative;
  top: -150px;
  left: 125px;
  text-decoration: none;
}

figure .btn:hover {
  -webkit-box-shadow: 0 0 3px 2px #fff;
  -moz-box-shadow: 0 0 3px 2px #fff;
  box-shadow: 0 0 3px 2px #fff;
}

.slogan {
  font-family: "Palanquin Dark", sans-serif;
  border: 1px solid #000;
  margin: .5em;
  text-align: left;
  display: block;
}

.slogan-text {
  margin: 0;
  padding: 0;
}

.before-after {
  float: none;
  color: #000;
  font-family: "Palanquin Dark", sans-serif;
  margin-left: 3em;
  padding-bottom: 1em;
  margin-top: 0;
  margin-bottom: 0;
}

.b-a-pics {
  padding-bottom: .5em;
  margin-bottom: 0;
  margin-top: 0;
}

hr {
  margin-top: 2em;
}

footer {
  background-color: #000;
  padding: 12em;
  margin-top: 2em;
}

.facebook {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
  top: 1880px;
}

.twitter {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
  top: 1935px;
}

.insta {
  width: 12%;
  float: right;
  position: absolute;
  right: 10px;
  top: 1990px;
}

.footer-sign-up {
  margin-top: 5em;
}

small {
  color: #fff;
  font-family: "Palanquin Dark", sans-serif;
  float: left;
  position: absolute;
  left: 20px;
  top: 2010px;
}

@media only screen and (min-width: 25em) {

  nav ul {
    display: none;
    padding: .3em;
  }

}

@media only screen and (min-width: 30em) {

  .logo {
    width: 6%;
  }

}

@media only screen and (min-width: 35em) {

  nav ul {
    display: inline;
  }

  nav {
    display: block;
  }

  nav .dropdown-menu {
    display: none;
  }

  a {
    float: left;
    position: relative;
    left: 120px;
    padding: .7em;
  }
}
